<!DOCTYPE html>
<html lang="en">
<head>
    <title>django blog</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'publication-list' %}">blog de josefino</a></h1>
        <div>
            <a href="{% url 'publication-create' %}">Nueva Publicacion</a>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>Hola {{ user.username }}</p>
        <!-- logout link -->
         <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesion</button>
         </form>
    {% else %}
        <a href="{% url 'login' %}">Iniciar sesion</a>
    {% endif %}
    

    {% block content %}

    {% endblock content %}
</body>
</html>